.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-button {
  border-radius: 6px;
  border: none;
  background-color: #0364ff;
  height: 56px;
  width: 327px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.App-button:hover {
  background-color: #4775ff;
  transition-duration: 0.7s;
  cursor: pointer;
}
