.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Link {
  margin-bottom: 15px;
}

.Button {
  border-radius: 6px;
  border: none;

  height: 56px;
  width: 327px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.Button:hover {
  transition-duration: 0.7s;
  cursor: pointer;
}

.Login {
  background-color: #0364ff;
}

.Login:hover {
  background-color: #4775ff;
}

.Logout {
  background-color: lightslategrey;
}

.Logout:hover {
  background-color: #8D949A;
}